{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="starting">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="brew-list-header">
                        <h2>Your Beers</h2>
                </div>
                <div class="brew-list">
                    <p v-if="brews.length == 0">Nothing here yet...To get started, Add a new beer.</p>
                    <div v-for="brew in brews" class="brew">
                        <h3><a  :href="brewLink + brew.id">${brew.title}</a></h3>
                        <p>${brew.description}</p>
                        <ul>
                            <li v-for="ing in brew.ingredient_set">${ing.name}</li>
                        </ul>
                        <button  class="btn btn-default" v-on:click="editBrew(brew.id, $event)" href="#">edit</button>
                        <button class="btn btn-danger" v-on:click="deleteBrew(brew.id, $event)">Delete</button>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-header">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a v-on:click="toggleBeerForm" v-bind:class="{active: showBeerForm}" class="nav-link" href="#">${btnTxt}</a>
                        </li>
                        <li class="nav-item">
                            <a v-on:click="toggleSearchForm" v-bind:class="{active: !showBeerForm}" class="nav-link" href="#">Search Recipes</a>
                        </li>
                    </ul>
                </div>
                <div v-if="brewErrors.length > 0" class="alert alert-danger" role="alert">
                    <p v-for="err in brewErrors">${err}</p>
                </div>
                <div v-if="showBeerForm == true" class="add-form-container">
                <form>
                    <div class="form-group">
                        <label for="name">Beer Name</label>
                        <input v-model="brew.title" class="form-control" type="text" name="name">
                    </div>
                    <div class="form-group">
                        <label for="description">Description & Directions</label>
                        <textarea v-model="brew.description" class="form-control" type="text" name="description"> </textarea>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="original_gravity">Original Gravity</label>
                            <input v-model="brew.original_gravity" type="number" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="final_gravity">Final Gravity</label>
                            <input v-model="brew.final_gravity" type="number" class="form-control">
                        </div>
                    </div>
                </form>
                    <hr>
            <div class="row">
                <div class="col-sm-6">
                    <form v-on:submit="addIngredient">
                        <label>Create Ingredients List</label>
                    
                        <div class="form-group">
                            <label>Type</label>
                            <select class="form-control" v-model="ingredient.type">
                                    <option value="Malt">Malt</option>
                                    <option value="Hop">Hop</option>
                                    <option value="Water">Water</option>
                                    <option value="Extract">Extract</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ingredient_name">Name</label>
                            <input type="text" class="form-control" name="ingredient_name" v-model="ingredient.name">
                        </div>
                        <div class="form-group">
                            <label for="ingredient_amount">Amount</label>
                            <input type="number" class="form-control" name="ingredient_amount" v-model="ingredient.amount">
                        </div>
                        <div class="form-group">
                                <label>Measurement</label>
                                <select class="form-control" v-model="ingredient.measurement_unit">
                                        <option value="OZ">Ounces</option>
                                        <option value="LB">Pounds</option>
                                        <option value="G">Gallons</option>
                                        <option value="#">Number</option>
                                </select>
                            </div>
                        <div class="form-group" v-if="ingredient.type == 'Hop' ">
                            <label for="time">When</label>
                            <input class="form-control" v-model="ingredient.time" type="text" name="time">
                        </div>
                        <button class="btn btn-sm btn-primary" v-on:click="addIngredient">Add Ingredient</button>
                    </form>
                </div>
                <div class="col-sm-6">
                    <div class="ingredients-list-header">
                        <h2>Ingredients</h2>
                    </div>
                    <div class="ingredients-list">
                        <p v-if="ingredient.name == '' && ingredients.length == 0">Nothing here yet..</p>
                        <div v-bind="ingredients" v-for="ingredient in this.ingredients" class="ingredient">
                            <p>${ingredient.name} ${ingredient.amount} ${ingredient.measurement_unit} <span v-if="ingredient.time != ''">@${ingredient.time}</span> <a style="font-size: 12px;" href="#" v-if="editingBrew && ingredient.id" v-on:click="removeIngredient(ingredient.id, $event)">remove</a>
                            </p>
                        </div>
                        <p v-bind="ingredient" style="color:#666;">${ingredient.name} 
                            <span v-if="ingredient.amount != 0">${ingredient.amount}</span>
                            ${ingredient.measurement_unit}
                            <span v-if="ingredient.time != ''">@${ingredient.time}</span>
                        </p>
                    </div>
                </div>
                </div>
                <hr>
                <button v-if="!editingBrew" v-on:click="addNewBrew" class="btn btn-lg btn-primary btn-block">Add This Beer</button>
                <ul class="nav nav-pills nav-fill" v-if="editingBrew">
                        <li class="nav-item">
                            <a v-on:click="editBrewRequest" class="nav-link btn-primary" href="#">Edit This Beer</a>
                        </li>
                        <li class="nav-item">
                            <a v-on:click="cancelEdit" class="nav-link btn-danger" href="#">Cancel</a>
                        </li>
                    </ul>
            </div>
                <div v-if="showBeerForm == false" class="search-container">
                        <form class= action="">
                        <div class="form-group">
                            <label for="search-term">Search Beer Recipes</label>
                            <input v-model="searchTerm" name="search-term" type="text" class="form-control">
                            <br>
                            <button class="btn btn-primary btn-block" v-on:click="getSearchResults">Search</button>
                            <hr>
                        </div>
                        </form>
                        <div v-if="searchError" class="alert alert-danger" role="alert">
                                ${searchError}
                        </div>


                    <div v-if="showSearchResults">
                        <div class="search-results-header">
                            <h2>Results</h2>
                        </div>
                        <div class="search-results-list-container">
                                <div v-for="brew in searchResults" class="search-result">
                                    <h3>${brew.title}</h3>
                                    <p>${brew.description}</p>
                                    <a :href="brewLink + brew.id"><button  class="btn btn-primary" >More Info</button></a>
                                    <hr>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js"></script>

<script src="{% static 'js/profile.js' %}" ></script>

{% endblock %}