{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="home-header">
                <h1>Brew_Journal</h1>
                <h4>Keep track of your brewing adventures with Brew Journal.</h4>
                <p>Get started by signing up <a href="/register">here</a>. If you already have an account, login <a href="/accounts/login">here</a>.</p>
            </div>
            <div class="brew-list-header">
                <h2>Most Recent Beer Recipes</h2>
            </div>
            <div class="brew-list">
            {% for brew in brews %}
                <div class="home-brew">
                    <h3>{{brew.title}}</h3>
                    <p>{{brew.description}}</p>
                    <p>brewed and posted by: {{brew.user.username}}</p>
                    <a href="/brew/{{brew.id}}"><button class="btn btn-primary">See More</button></a>
                </div>
                <hr>
            {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}