{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="show-container">
                <p>Brewed and Posted by: {{brew.user.username}}</p>
                <h2>{{brew.title}}</h2>
                <hr>
                <p>{{brew.description}}</p>
                <p><strong>Original Gravity: {{brew.original_gravity}}</strong></p>
                <p><strong>Final Gravity: {{brew.final_gravity}}</strong></p>

                <h4>Ingredients List</h4>
                <ul>
                    {% for ing in ingredients%}
                       <li> {{ing.name}} {{ing.amount}} {{ing.measurement_unit}} {% if ing.time %} @{{ing.time}} {% endif %}</li>
                    {% endfor %}
                </ul>
            </div>            
        </div>
    </div>
</div>


{% endblock %}