{% extends 'base.html' %}

{% block title %}Logout{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="content-container">
          <h2>YOU'VE BEEN LOGGED OUT</h2>
          <p>Have a great day!</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}