{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="content-container">
      <h2>Login</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}