body {
    background-color:#f1f1f1;
}

.brew-content {
    min-height:800px;
}

.home-header h1 {
    font-size:50px;
    text-align:center;
    margin: 10px 0;
}

.brew-list, .search-results-list-container, .ingredients-list {
    max-height:800px;
    min-height:400px;
    overflow:scroll;
    background-color:white;
    padding: 5px 20px;
}

.ingredients-list {
    min-height:300px;
}

.brew-list-header, .search-results-header, .ingredients-list-header {
    text-align:center;
    background-color:#375561;
    color:white;
    margin: 20px 0 0 0;
    padding:15px 0;
    border-radius: 5px 5px 0 0;
}


.search-results-header {
    padding: 5px 0;
}

.brew-list-header h2 {
    font-size: 42px;
}


.form-header {
    margin-top:22px;
}

.search-container {
    margin-top:10px;
}

.alert-danger {
    margin-top: 15px;
}

.show-container {
    background-color:white;
    margin-top:50px;
    padding:20px;
    border-radius:5px;
}

.brew h3 a {
    text-decoration: none;
    color: black;
}

.base-footer {
    background-color: #2E494A;
    padding:20px; 
    margin-top:50px;
    text-align:center;
}

.base-footer a {
    color:white;

}